.idea/
.vscode/*

__pycache__/

config.json

data/datasets
models/pretrained
models/trained
setup/verify_log.txt

detect/detection_result.png
detection_result.png

tfod_api/
animal_detection.egg-info/

*.ipynb
!main.ipynb

TODO.md