@keyframes tilt-shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(4px, 4px) rotate(4deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-4px, 4px) rotate(-4deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}

.shake-on-hover:hover {
    animation: tilt-shaking 0.25s infinite;
}